@import url(https://fonts.googleapis.com/css?family=Raleway:400,200|Source+Sans+Pro:200)
\:root
  font-size: 18px
  @media (max-width: 767px)
    font-size: 14px
  @media (min-width: 1980px)
    font-size: 24px

$black: #424242
$white: #e9e9e9
$grey: #bcbcbc
$blue: #3299bb
$orange: #ff9900

html, body
  position: relative
  min-height: 720px
  min-width: 230px

*
  font-size: 0.8rem

body
  /* Margin bottom by footer height
  margin-bottom: 3rem
  font-family: 'Raleway', sans-serif
  color: $black
  background-color: $white
  h1
    font-weight: 200
  > .container
    h1
      font-family: 'Source Sans Pro', sans-serif
      font-weight: 200
      font-size: 3rem
      margin: 4rem auto
      text-shadow: 0.04rem 0.1rem 0.125rem $grey
    .row
      position: absolute
      width: 100%
      left: 0
      bottom: 4rem
      margin: 0 auto
      .btn
        width: 9rem
        margin-bottom: 0.6rem
        border: 0.05rem solid $grey
        box-shadow: 0 0.1rem 0.125rem $black
        font-size: 0.8rem
        @media only screen and (max-width: 480px)
          font-size: 0.8rem
    p
      margin-top: 7rem

.jumbotron
  color: $white
  text-shadow: 0.04rem 0.1rem 0.125rem $black
  box-shadow: 0 0 0.8rem $black
  background-color: $orange
  margin-bottom: 0

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here
  height: 3rem
  color: $white
  background-color: $blue
  text-shadow: 0.04rem 0.1rem 0.125rem $black
  box-shadow: 0 0 0.8rem $black
  a, a:hover, a:link, a:visited
    color: $white
  i
    font-size: 1.2rem
    color: $white
footer div
  /* ehhh...
  background-color: $blue
  @media (max-width: 767px)
    div:first-of-type
      margin-top: 1rem
  @media (min-width: 768px)
    div
      margin-top: 1rem
