[submodule "projects/weather"]
	path = projects/weather
	url = https://github.com/jlouiss/weather-app.git
[submodule "projects/tribute_page"]
	path = projects/tribute_page
	url = https://github.com/jlouiss/tribute-page.git
[submodule "projects/wikipedia_viewer"]
	path = projects/wikipedia_viewer
	url = https://github.com/jlouiss/wikipedia-viewer.git
