html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='author', content='Jean Louis Salbego')
        
        title Wikipedia Viewer
        
        link(rel='EditURI', type='application/rsd+xml', href='//www.mediawiki.org/w/api.php?action=rsd')
        link(href='../../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='../../bower_ocmponents/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        
    body
        div.container
            h1 Wikipedia Viewer
            div.col-xs-12.text-center
        
        script(src='../../bower_components/jquery/dist/jquery.min.js')
        script(src='js/wikipedia.js')
