html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='author', content='Jean Louis Salbego')

    title Wikipedia Viewer

    link(href='../../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')

  body
    h1.text-center#title I want to know about...
    div.text-center#wrapper
      div#search
        div.icon
          input(type='text')
          a(href='#')
            i.fa.fa-search.fa-fw
      div#results
      div#random
        a(href='http://en.wikipedia.org/wiki/Special:Random' target='_blank')
          div.icon
            i.fa.fa-wikipedia-w.fa-fw
            span Something
    footer
      small Written and coded by 
        a(href='http://jlouiss.github.io/' target='_blank') Jean Louis Salbego

    script(src='../../bower_components/jquery/dist/jquery.min.js')
    script(src='js/wikipedia.js')
