mixin dome-design
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='http://res.cloudinary.com/dnqbooq6b/image/upload/v1478876504/dome-thumbnail_cpcyrt.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Dome Design
        i.material-icons.right more_vert
      p
        a(href='http://domedesign.it/', target='_blank') View website
    .card-reveal
      span.card-title.grey-text.text-darken-4 Dome Design
        i.material-icons.right close
      p Custom responsive website for
        a(href='http://domedesign.it', target='_blank') Dome Design
        br
        br
        a(href='http://domedesign.it/', target='_blank') View website


mixin pomodoro-timer
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/jWvOOY/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Pomodoro Timer
        i.material-icons.right more_vert
      p
        a(href='./projects/pomodoro_timer/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 Pomodoro Timer
        i.material-icons.right close
      p A simple pomodoro timer made with JavaScript<br><br>
        a(href='./projects/pomodoro_timer/index.html', target='_blank') View project

mixin calculator
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/OMvxmO/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 jQuery Calculator
        i.material-icons.right more_vert
      p
        a(href='./projects/calculator/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 jQuery Calculator
        i.material-icons.right close
      p A calculator made with jQuery<br><br>
        a(href='./projects/calculator/index.html', target='_blank') View project

mixin wikipedia-viewer
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/GZENpm/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Wikipedia Viewer
        i.material-icons.right more_vert
      p
        a(href='./projects/wikipedia_viewer/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 Wikipedia Viewer
        i.material-icons.right close
      p Through the Wikipedia API, this app shows Wikipedia page results from given keywords<br><br>
        a(href='./projects/wikipedia_viewer/index.html', target='_blank') View project

mixin quotes-machine
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/yepbed/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Random Quotes
        i.material-icons.right more_vert
      p
        a(href='./projects/random_quotes/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 Random Quotes
        i.material-icons.right close
      p This page shows random quotes when clicking on the "generate" button<br><br>
        a(href='./projects/random_quotes/index.html', target='_blank') View project

mixin tesla-tribute
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/eJxwoG/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Tribute to Tesla
        i.material-icons.right more_vert
      p
        a(href='./projects/tribute_page/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 Tribute to Tesla
        i.material-icons.right close
      p A simple tribute to Nikola Tesla<br><br>
        a(href='./projects/tribute_page/index.html', target='_blank') View project

mixin twitch-viewer
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/NNaGeZ/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Twitch Viewer
        i.material-icons.right more_vert
      p
        a(href='./projects/twitch/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 Twitch Viewer
        i.material-icons.right close
      p View Twitch streams through this Single Page App made with AngularJS<br><br>
        a(href='./projects/twitch/index.html', target='_blank') View project

mixin weather-app
  .card
    .card-image.waves-effect.waves-block
      img.activator(src='https://codepen.io/JLouisS/pen/bpgYVp/image/small.png')
    .card-content
      span.activator.card-title.grey-text.text-darken-4 Weather App
        i.material-icons.right more_vert
      p
        a(href='./projects/weather/index.html', target='_blank') View project
    .card-reveal
      span.card-title.grey-text.text-darken-4 Weather App
        i.material-icons.right close
      p This app shows the local weather<br><br>
        a(href='./projects/weather/index.html', target='_blank') View project
