include includes/icons.pug
include includes/cards.pug

doctype html
html
  head
    title Jean Louis Salbego

    link(href='./css/main.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')

  body
    .navbar-fixed.z-depth-1
      nav.grey.lighten-5
        .nav-wrapper
          a.brand-logo(href='#!') Jean
          a.button-collapse(href='#', data-activates='mobile-navbar')
            i.material-icons.medium menu
          ul.right.hide-on-med-and-down
            li
              a.waves-effect(href='#home') Home
            li
              a.waves-effect(href='#about') About
            li
              a.waves-effect(href='#portfolio') Portfolio
            li
              a.waves-effect(href='#contact') Contact
          ul.side-nav#mobile-navbar
            li
              a.waves-effect(href='#home') Home
            li
              a.waves-effect(href='#about') About
            li
              a.waves-effect(href='#portfolio') Portfolio
            li
              a.waves-effect(href='#contact') Contact


    .parallax-container#home
      .container
        .row
          h2.col.s12.header.center-align.white-text Jean Louis Salbego
        .row
          h5.col.s12.header.center-align.grey-text.text-lighten-2 Front End Developer
      .parallax
        img(src='./images/man-holding-iphone.jpg')


    .section.white#about
      .row.container
        .col.s12.m9
          .icon-block.center
            i.medium.yellow-text.text-darken-3.fa.fa-address-card
            h4 Who am I
          p.center.grey-text.text-darken-3
            | I am a Front End Developer from Italy, currently working at
            a(href='http://domedesign.it/').grey-text.text-darken-4  Dome Design.
            br
            | I learn everything I can, whenever I can.
            br
            | I am passionate about programming, JavaScript, books and travelling.
            br
            | I speak fluently english, italian and brazillian portuguese.
            br
            | I love my soon-to-be wife.
        .col.s12.m3
          img.responsive-img.circle.z-depth-1(src='./images/me-square.jpg')


    .section.white#skills
      .row.container
        .col.s12
          .icon-block.center
            i.medium.yellow-text.text-darken-3.fa.fa-tasks
            h4 Skills
      .row.container
        .col.s6.m3
          +html-icon
        .col.s6.m3
          +css-icon
        .col.s6.m3
          +js-icon
        .col.s6.m3
          +python-icon


    .parallax-container
      .parallax
        img(src='./images/devices-on-sofa.jpg')


    .section.white#portfolio
      .row.container
        .col.s12
          .icon-block.center
            i.medium.yellow-text.text-darken-3.fa.fa-code
            h4 Portfolio

      .row.container
        .col.s12.m4
          +dome-design
        .col.s12.m4
          +wikipedia-viewer
        .col.s12.m4
          +pomodoro-timer
        .col.s12.m4
          +weather-app
        .col.s12.m4
          +twitch-viewer
        .col.s12.m4
          +calculator
        .col.s12.m4
          +quotes-machine
        .col.s12.m4
          +tesla-tribute


    .parallax-container
      .parallax
        img(src='./images/hipster-vintage-desk.jpg')


    .section.white#contact
      .row.container
        .col.s12
          .icon-block.center
            i.medium.yellow-text.text-darken-3.fa.fa-comments
            h4 Contact
        .col.s12.center
          p You can send me an email at
            br
            a(href='mailto:jlsalbego@domedesign.it')  jlsalbego@domedesign.it


    footer.page-footer.yellow.darken-3
      .row.container
        .col.s12.center
          a.white-text(href='http://github.com/jlouiss', title='The source codes of most of my projects are available on Github')
            i.fa.fa-github
          a.white-text(href='http://codepen.io/JLouisS/', title='My codepen personal page')
            i.fa.fa-codepen
          a.white-text(href='https://www.linkedin.com/in/jeanlouissalbego', title='My LinkedIn profile')
            i.fa.fa-linkedin
          a.white-text(href='http://domedesign.it/', title='My personal section on Dome Design')
            img#dome(src='./images/dome-logo-small.png')
          a.white-text(href='http://twitter.com/jlslbg', title='twitter @jlslbg')
            i.fa.fa-twitter
          a.white-text(href='https://www.goodreads.com/user/show/27492943-jean', title='Here are all the books I\'ve read so far')
            #goodreads g

      .footer-copyright
        .container.center
          | © Jean Louis Salbego - 2016


    script(src='./js/jquery.min.js')
    script(src='./js/materialize.min.js')
    script(src='./js/scripts.js')
