div.container.text-center
    div.row.row-content
        h1 Local Weather
        div.col-xs-12
            div#temperature
            div
                img.img-responsive#icon
            div#location
            div#weather
            
footer.footer.text-center
    p Written and coded by
        a(href='http://jlouiss.github.io' target='_blank') Jean Louis Salbego
        | - 2016
    small.text-muted Icon made by
        a#author
        | from
        a(href='http://www.flaticon.com' target='_blank') flaticon
        | is licensed by
        a(href='http://creativecommons.org/licences/by/3.0' target='_blank') Creative Commons BY 3.0
