.container {
  font-family: "Inter", sans-serif;
  height: 100%;
}

.title {
  animation: fadeIn 3s ease-in-out;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  font-size: 6.4rem;
  font-weight: 100;
  opacity: 0;
}

.name {
  animation: fadeInBolden 3s ease-in-out;
  animation-fill-mode: forwards;
}

.subtitle {
  animation: fadeIn .4s ease-in-out;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    font-weight: 100;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBolden {
  0% {
    font-weight: 100;
  }
  40% {
    font-weight: 100;
    opacity: 1;
  }
  70% {
    font-weight: 100;
  }
  100% {
    font-weight: 700;
    opacity: 1;
  }
}
