@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

:root, * {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;

    background: #f0ebff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #fff6eb, #f0ebff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #fff6eb, #f0ebff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root * {
    background: none;
    transition: all .15s ease-out;
}

.App {
    text-align: center;
    padding: 0 2.4rem;
    color: #555;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.header > * {
    flex: 1 1 100%;
}

.header .title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.header .subtitle {
    font-size: 1.8rem;
    margin-top: 0;
}

.icons > a {
    padding: 0 1rem;
    color: #333;
    text-decoration: none;
}

.icons > a:hover > i.fab {
    transform: scale(1.2);
    transform-origin: center center;
}

.icons > a:hover > i.fab.fa-github {
    color: #000;
}

.icons > a:hover > i.fab.fa-linkedin {
    color: #0077b5;
}

.icons > a:hover > i.fab.fa-twitter {
    color: #1DA1F2;
}

.icons > a:hover > i.fab.fa-free-code-camp {
    color: #006400;
}

.icons > a:hover > i.fab.fa-instagram {
    color: #262626;
}

small.footer {
    color: #000;
}


@media (min-width: 700px) {
    .header .title {
        font-size: 4rem;
        margin-bottom: 2.2rem;
    }

    .header .subtitle {
        font-size: 2.2rem;
        margin-top: 0;
    }
}
