html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='author', content='Jean Louis Salbego')
        
        title Local Weather app

        link(href='../../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')

    body
        div.container.text-center
            div.row.row-content
                h1 Local Weather
                div.col-xs-12
                    img.img-responsive#icon
                    div.temperature
                        span#temperature
                        | °
                        a.btn.btn-default#change-scale
                    div.forecast
                        span#weather
                        |  right now in 
                        span#location

        footer.footer.text-center
            p Written and coded by 
                a(href='http://jlouiss.github.io') Jean Louis Salbego 
                | - 2016
            small Icon made by 
                a#author
                |  from 
                a(href='http://www.flaticon.com') flaticon 
                | is licensed by 
                a(href='http://creativecommons.org/licences/by/3.0') Creative Commons BY 3.0

        script(src='../../bower_components/jquery/dist/jquery.min.js')
        script(src='js/weather.js')
